.section--home-hero{
  height: 98vh;
  background: $gradient_yellow;
  box-shadow: 0 3px 11px 3px rgba($purple, 0.1);
  position: relative;
  z-index: 10;
  padding-top: 250px;
  padding-bottom: 400px;
  background-size: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);

  @include breakpoint(until-landscape) {
    padding-top: 100px;
    padding-bottom: 260px;

    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .home-hero--col-1 {
      margin-bottom: 180px;
    }

    .home-hero--img.home-hero--img-4 {
      top: -20%;
      left: -7%;
    }
  }

  @include breakpoint(until-portrait) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
    padding-bottom: 50px;
  }

  .home-hero--title {
    margin-top: 30px;
    font-size: 4.3rem;
    line-height: 0.9em;
    // text-shadow: 0 10px 20px rgba(29, 53, 117, 0.6), 0 10px 20px rgba(29, 53, 117, 0.6);

    @include breakpoint(until-landscape) {
      font-size: 4rem;
    }

    @include breakpoint(until-portrait) {
      font-size: 2.6rem;
      margin-top: 0;
    }

    .hero-title--line { display: block; }


    .hero-title--line-2 {
      text-transform: uppercase;
      color: $orange;
    }

    .hero-title--line-4 {
      color: $purple;
    }
  }

  .home-hero--desc {
    max-width: 520px;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin-top: 15px;

    @include breakpoint(until-portrait) {
      font-size: 1.15rem;
    }
    ul {

    margin-left: 20px;

      li {
        list-style:initial;
        font-size: 1rem;
      }
    }
  }

  .btn {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-top: 10px;
    box-shadow: 0 25px 50px rgba(29, 53, 117, 0.5);

    @include breakpoint(until-portrait) {
      width: 100%;
    }
  }

  .home-hero--img-wrapper {

    width: 130%;
    position: relative;
    top: -80px;
    pointer-events: none;

    @include breakpoint(until-landscape) {
      width: 100%;
      left: -10%;
    }

    @include breakpoint(until-portrait) {
      width: 130%;
      left: -14%;
      top: -120px;
    }
  }

  .home-hero--img-1 {
    width: 100%;
    display: block;
    position: relative;
    z-index: 10;
  }

  .home-hero--img-2,
  .home-hero--img-3,
  .home-hero--img-4 {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }

  .home-hero--img-3 {
    z-index: 30;
    mix-blend-mode: lighten;
  }

  .home-hero--img-4 {
    z-index: 40;

    @include breakpoint(until-portrait) {
      top: -10%;
    }
  }

  .btn-get-involved {
    margin-left: 24px;

    @include breakpoint(until-portrait) {
      margin-left: 0;
    }
  }
}
