.section--home-hero {
  min-height: 92vh;
  padding-top: 150px;
  background-color: $purple;
  color: $color-text;
  box-shadow: 0 3px 11px 3px rgba($purple, 0.1);
  position: relative;
  z-index: 10;
  background-size: 100% 100%;
  display: flex;
  align-items: center;

  ul {
    margin-left: 20px;

    li {
      list-style:initial;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }
  @include breakpoint(until-landscape) {
    min-height: initial;
    padding-top: 50px;

    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .home-hero--col-1 {
      margin-bottom: 100px;
    }
    .home-hero--col-2 {
      display: flex;
      align-items: center;
    }

    .home-hero--img.home-hero--img-4 {
      top: -20%;
      left: -7%;
    }
  }

  @include breakpoint(until-portrait) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
    padding-bottom: 50px;
  }

  .home-hero--title {
    margin-top: 30px;
    font-size: 80px;
    font-weight: 900;
    line-height: 0.9em;

    @include breakpoint(until-landscape) {
      font-size: 4rem;
    }

    @include breakpoint(until-portrait) {
      font-size: 2.6rem;
      margin-top: 0;
    }

    .hero-title--line { display: block; }


    .hero-title--line-2 {
      text-transform: uppercase;
      color: $orange;
      line-height: 80px;
    }

    .hero-title--line-4 {
      color: $purple;
    }
  }

  .home-hero--desc {
    text-transform: uppercase;
    max-width: 520px;
    font-size: 30px;
    line-height: 1.25em;
    margin-top: 15px;
    color: $yellow;

    @include breakpoint(until-portrait) {
      font-size: 20px;
    }
  }

  .btn {
    margin-top: 30px;

    @include breakpoint(until-portrait) {
      width: 100%;
    }
  }

  .home-hero--img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
    }

    @include breakpoint(until-portrait) {
      margin-bottom: 30px;
      img {
        width: 60%;
      }
    }
  }

  .home-hero--img-1 {
    width: 100%;
    display: block;
    position: relative;
    z-index: 10;
  }

  .btn-get-involved {
    margin-left: 24px;

    @include breakpoint(until-portrait) {
      margin-left: 0;
    }
  }
}
