/* TO REMOVE */
$color-text: #fff;
$white: #fff8f0;
$blue: #9dd9d2;
$purple: #392f5a;
$yellow: #f4d06f;
$orange: #f81;

/* ----------- */

$red: rgb(255, 65, 17);
$black: #000;

$gradient_white: linear-gradient(178.9deg, $white 31.24%, $color-text 182.59%);
$gradient_blue: linear-gradient(141.32deg, $blue 4.58%, $blue 122.96%);
$gradient_purple: linear-gradient(119.91deg, $purple -18.1%, $purple 82.06%);
$gradient_yellow: linear-gradient(119.91deg, $yellow -18.1%, $yellow 82.06%);
$gradient_orange: linear-gradient(119.91deg, $orange -18.1%, $orange 82.06%);
