/* TO REMOVE */
$color-text: #fff;
$white: #F3EFF5;
$blue: #247BA0;
$purple: #1E212B;
$yellow: #FFC800;
$orange: #E94F37;

/* ----------- */

$red: rgb(255, 65, 17);
$black: #000;

$gradient_white: linear-gradient(178.9deg, $white 31.24%, $color-text 182.59%);
$gradient_blue: linear-gradient(141.32deg, $blue 4.58%, $blue 122.96%);
$gradient_purple: linear-gradient(119.91deg, $purple -18.1%, $purple 82.06%);
$gradient_yellow: linear-gradient(119.91deg, transparentize($yellow, 0.1) -18.1%, $yellow 82.06%);
$gradient_orange: linear-gradient(119.91deg, $orange -18.1%, $orange 82.06%);
