# ERC721, ERC721withERC20 OR ERC1155
CONTRACT_TYPE=ERC721withERC20
COLLECTION_URI_PREFIX=https://ipfs.io/ipfs/Qmf7YbHu7krH657ErDRs5xezwXqmb7AHLMCbCLrY1hf25x/

NETWORK_TESTNET_URL=https://rinkeby.infura.io/v3/bbff2a52aa094c41b1fe7819ccaa7a2c
# !!! WARNING !!!
# Please manage your .env files carefully when using them to store your private keys.
# People getting access to you private keys will be able to control your wallet forever.
# Remember you can use the CLI commands even without setting the private keys here, please
# check out the GitHub repo for more information.
NETWORK_TESTNET_PRIVATE_KEY=8d63987ac352c661ceefb95528afc86040494cadb397cf1531a4d659bb416058

NETWORK_MAINNET_URL=https://mainnet.infura.io/v3/bbff2a52aa094c41b1fe7819ccaa7a2c
# !!! WARNING !!!
# Please manage your .env files carefully when using them to store your private keys.
# People getting access to you private keys will be able to control your wallet forever.
# Remember you can use the CLI commands even without setting the private keys here, please
# check out the GitHub repo for more information.
NETWORK_MAINNET_PRIVATE_KEY=8d63987ac352c661ceefb95528afc86040494cadb397cf1531a4d659bb416058

GAS_REPORTER_COIN_MARKET_CAP_API_KEY=5bb09476-0a76-4713-bfc5-c9da78b924a4

BLOCK_EXPLORER_API_KEY=A41SU95GVX7BBM62JGSQ4RRTCI98265UQK
CI=true
