@import 'scss/init';

.wallet-connected-status,
.wallet-balance {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: inline-block;
  color: $orange;
  position: relative;
  top: 3px;
  overflow: hidden;

  @include breakpoint(until-landscape) {
    margin-top: -10px;
  }
}

.wallet-balance {
  padding: 4px 10px 2px;
}

.wallet-connected-status {
  /*   border: 1px solid rgba($yellow, 0.8);
  border-radius: 5px; */
  width: 180px;
  margin-left: 10px;
}

.wallet-balance {
  color: $purple;
}
