.wallet-connected-status,
.wallet-balance {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: inline-block;
  color: $orange;
  position: relative;
  overflow: hidden;
  margin-left: 10px;

  @include breakpoint(until-landscape) {
    margin-left: 0px;
  }
}

.wallet-balance {
  padding: 4px 10px 2px;
  color: $purple;
}

.wallet-connected-status {
  width: 180px;

}
