.wallet-connected-status,
.wallet-balance {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: inline-block;
  color: $yellow;
  position: relative;
  overflow: hidden;
  margin-left: 10px;

  @include breakpoint(until-landscape) {
    margin-left: 0px;
    margin-top: 15px;
  }
}

.wallet-balance {
  padding: 4px 10px 2px;
  margin-right: 15px;
}

.wallet-connected-status {
  min-width: 180px;
}
