@import 'scss/init';

.minting-wrapper {
  padding-bottom: 80px;

  @include breakpoint(until-portrait) {
    background-position: 50% 60%;
    background-attachment: fixed;
    background-size: 100% auto;
  }
}

.minting-container--complementary-info {
  width: 100%;
  display: block;
  margin-top: 25px;
  margin-bottom: -10px;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.4em;
  font-weight: 500;
  letter-spacing: 0.2em;
  background: $gradient_white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  // text-transform: uppercase;
  text-shadow: 0 6px 4px rgba($black, 0.3);
}

.minting--container {
  width: 100%;
  border: 1px solid rgba($white, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba($black, 0.1);
  position: relative;

  &.minting--main-container {
    padding: 2rem 1rem 3rem 1rem;

    @include breakpoint(until-portrait) { padding: 20px 20px 40px; }
  }

  &.minting--info-container {
    padding: 50px 20px 0;
    margin-bottom: 15px;

    @include breakpoint(mobile) { padding: 50px 0 0; }
  }

  .minting-container--title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid rgba($white, 0.3);
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 40px;

    @include breakpoint(until-portrait) {
      display: block;
      text-align: center;
    }

    .minting-container--title-img {
      width: 70px;
      height: auto;

      @include breakpoint(until-portrait) {
        width: 50px;
      }
    }

    .minting-container--title-txt {
      margin-left: 10px;

      &.flexible {
        margin-bottom: 30px;
      }
    }
  }

  &.collection-status--active {
    background: $white;
  }

  .minting-item {
    margin-bottom: 30px;

    .minting-item-lbl {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $purple;
      margin-bottom: 10px;
    }

    .minting-item-subtitle {
      font-size: 0.9rem;
      line-height: 1.2rem;
      font-weight: 300;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &.minting-item-lbl {
        position: relative;
        display: inline-block;
      }

      .icon-info {
        position: absolute;
        top: calc(50% - 1px);
        right: -16px;
        transform: translateY(-50%);
        margin: 0;
      }

      &.minting-item-subtitle--smaller {
        font-size: 0.625rem;
      }

      &.minting-item-subtitle--green {
        background: $gradient_blue;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &.minting-item-subtitle--purple {
        background: $gradient_purple;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .minting-item-amount {
      font-size: 1.4rem;
      line-height: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .minting-item-exchange {
      margin-top: 4px;
      background: $white;
      background-clip: text;
    }

    &.minting-item--nodata {
      .minting-item-amount { opacity: 0.3; }
      .minting-item-exchange { opacity: 0.2; }
    }
  }

  &[class^='collection-status--'],
  &[class*=' collection-status--'] {
    .minting-container--title {
      position: relative;
      border: 0;
      overflow: hidden;
      padding-bottom: 38px;
      margin-bottom: 28px;
    }
  }

  &.collection-status--whitelist {
    .minting-container--title-badge,
    .minting-container--title-badge-flexible {
      border-color: rgba($white, 0.7);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before,
      &::after { background: rgba($white, 0.7); }
    }

    .minting-item .minting-item-lbl {
      background: $gradient_white;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .expandable-items--container {
      .expandable-items--content {
        &::before {
          background: $gradient_white;
        }
      }
    }
  }

  /*   &.collection-status--paused {
    background: linear-gradient(170.84deg, rgba(75, 75, 75, 0.4) 32%, rgba(23, 23, 23, 0.4) 68.02%);
    border: 2px solid rgba(175, 175, 175, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  } */

  &.collection-status--staked {
    background: linear-gradient(141.32deg, rgba($blue, 0.25) 4.58%, rgba($blue, 0.4) 122.96%);
    border: 2px solid rgba($blue, 0.8);
    box-shadow: 0 4px 4px rgba($black, 0.25), 0 0 10px $blue;

    .minting-item .minting-item-lbl {
      background: $gradient_blue;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &.collection-status--full {
    background: linear-gradient(119.91deg, rgba($purple, 0.2) -18.1%, rgba($purple, 0.2) 82.06%);
    border: 2px solid rgba($purple, 0.9);
    box-shadow: 0 23px 24px rgba($black, 0.1), 0 4px 4px rgba($black, 0.25), 0 0 10px $purple;

    .minting-container--title-badge,
    .minting-container--title-badge-flexible {
      border-color: rgba($purple, 0.7);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before,
      &::after { background: rgba($purple, 0.7); }
    }

    .minting-item .minting-item-lbl {
      background: $purple;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .expandable-items--container {
      .expandable-items--content {
        &::before {
          background: $purple;
        }
      }
    }
  }

  .minting-main-value {
    text-align: center;
    margin-bottom: 30px;
  }

  .minting-items {
    min-height: 250px;
    text-align: center;

    &.minting-items--coming-soon {
      display: flex;
      align-items: center;
      justify-content: center;

      .white-grad-title {
        display: block;
        margin-bottom: 7px;

        @include breakpoint(until-portrait) {
          font-size: 1.6rem !important;
        }
      }

      p { opacity: 0.8; }
    }
  }

  .btn:disabled,
  .btn[disabled] {
    opacity: 0.15;
  }

  .minting-actions {
    margin-top: 10px;
    position: relative;

    .btn {
      @include breakpoint(until-mobile) {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0 !important;
      }

      @include breakpoint(until-desktop) {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0 !important;
      }

      &:nth-child(2) {
        margin-bottom: 0;
        margin-left: 25px;
      }
    }

    &.minting-actions--status-disabled {
      .btn {
        opacity: 0.15;
        position: relative;
        z-index: 10;
        pointer-events: none;
      }
    }

    &.minting-actions--blurred {
      .btn {
        filter: blur(5px);
      }
    }
  }
}

.minting-actions--notice {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  letter-spacing: 0.01em;
  font-weight: 300;
  background: $gradient_white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.minting-action-wrapper {
  margin-top: 1rem;
  margin-bottom: 2rem;

  .minting-amount-title {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $purple;
    margin-bottom: 10px;
  }

  .minting-amount-wrapper {
    display: inline-flex;
    margin-bottom: 1rem;

    .minting-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .minting-info {
    margin-bottom: 1rem;

    .minting-notices {
      font-weight: 500;
    }
  }
}
